---
import Layout from '@layouts/Layout.astro';
import { getPosts } from '@/lib/wordpress';
import WordPressCard from '@comps/WordpressCard.astro';
import Contact from '@comps/contact.astro';
import { FULL_TITLE } from '@/consts';

export async function getStaticPaths({ paginate }: { paginate: (posts: any[], options: { pageSize: number }) => any }) {
  const posts = await getPosts();
  return paginate(posts, { pageSize: 9 });
}

const { page }: { page: {
url: any; data: any[] 
} } = Astro.props;

import Button from '@comps/button.astro';
---
<Layout SiteTitle={"Blog Posts | " + FULL_TITLE}>
  <div class="py-12"></div>
  <section class="grid grid-cols-1 md:grid-cols-8 gap-6 mx-6">
    <div class="col-span-1 md:col-span-8">
      <div class="flex flex-col w-full h-fit bg-white/50 backdrop-blur-[2px] mx-auto rounded-2xl p-12 shadow-[inset_2px_2px_30px] shadow-secondary/30 border-2 border-secondary">
        <h2 class="font-outfit font-bold text-4xl md:text-5xl lg:text-6xl text-neutral mt-2">My <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Blog Posts</span></h2>
        <p class="text-primary mt-2">All my yappings go here..</p>
        
        <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
          {page.data.map((post: any) => <WordPressCard post={post} />)}
        </div>

        <div class="flex justify-between items-center mt-8">
          {page.url.prev ? (
            <Button href={page.url.prev} text="Previous" aos="fade-up" aosd="1500" aosan="recent" />
          ) : <div></div>}
          
          {page.url.next ? (
            <Button href={page.url.next} text="Next" aos="fade-up" aosd="1500" aosan="recent" />
          ) : <div></div>}
        </div>
      </div>
    </div>
  </section>
  <Contact />
</Layout>