---
import { NAME } from '@consts/consts';
---

<section class="flex flex-col justify-center items-center h-screen py-96">
    <h1 class="text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-outfit font-bold stroke-text text-primary">{NAME}</h1>
</section>