---
import Name from '@comps/name.jsx'
import { Image } from 'astro:assets'
import { NAME } from '@consts/consts';
import Me from '@assets/me.png';
---
<section class='relative h-[500] flex w-full pt-52 pb-32 justify-center items-center'>
    <Image loading="eager" src={Me} alt={"Me, " + NAME} class="absolute z-10 w-44 md:w-96 bg-gradient-to-b from-primary/70 to-secondary/60 h-auto rounded-full backdrop-blur-[2px]"  transition:name='me'/>
    <Name client:load  transition:name='name' /> 
</section>