---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, name, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---
<li>
    <a href={href} aria-label={name} class:list={["hover:bg-secondary font-bold text-primary hover:text-white duration-500", { active: isActive }]} {...props}>
        <slot />
    </a>
</li>
<style>
	a.active {
        color: white !important;
        background-color: #041e42 !important;
	}
</style>
