---
import { Icon } from "@nodes/astro-icon/components"
---
<li>
    <Icon name="stack/html" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/css" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/javascript" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/tailwindcss" class="w-44 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/bootstrap" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/wordpress" class="w-16 mt-1 h-auto text-gray-500" />
</li>        
<li>
    <Icon name="stack/woocommerce" class="w-16 mt-1 h-auto text-gray-500" />
</li>        
<li> 
    <Icon name="stack/html" class="w-16 mt-1 h-auto text-gray-500" /> 
</li> 
<li>
    <Icon name="stack/css" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/javascript" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/tailwindcss" class="w-64 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/bootstrap" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/wordpress" class="w-16 mt-1 h-auto text-gray-500" />
</li>        
<li>
    <Icon name="stack/woocommerce" class="w-16 mt-1 h-auto text-gray-500" />
</li>
<li>
    <Icon name="stack/astrojs" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/hugo" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/typescript" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/apache" class="w-32 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/php" class="w-24 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/mysql" class="w-32 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/mongodb" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/linux" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/arch" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/nixos" class="w-32 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/figma" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/bash" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/docker" class="w-16 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/nodejs" class="w-24 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/neovim" class="w-32 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/git" class="w-24 mt-1 h-auto text-gray-500" />
</li>  
<li>
    <Icon name="stack/inkscape" class="w-16 mt-1 h-auto text-gray-500" />
</li>  