---
import { Icon } from "astro-icon/components";
const {prevUrl, nextUrl} = Astro.props;
---
<nav aria-label="story pagination">
    {prevUrl && (
        <a href={prevUrl} class="w-44 lora italic flex flex-row justify-between items-center gap-3 bg-primary text-secondary hover:bg-secondary hover:text-white lora uppercase text-[11px] font-bold mt-5">
            <Icon name="arrowleft" class="text-white bg-secondary flex justify-center items-center p-2 w-8 h-auto"/>
            <span class="w-4/5 text-center">Previous </span>
        </a>
    )}
    {nextUrl && (
        <a href={nextUrl} class="w-44 lora italic flex flex-row justify-between items-center gap-3 bg-primary text-secondary hover:bg-secondary hover:text-white lora uppercase text-[11px] font-bold mt-5">
            <span class="w-4/5 text-center">Next </span>
            <Icon name="arrowright" class="text-white bg-secondary flex justify-center items-center p-2 w-8 h-auto"/>
        </a>
    )}
</nav>