---
import { Icon } from 'astro-icon/components'
import { GITHUB, EMAIL, PHONE  } from '@consts/consts';
---
<a href={"mailto:"+EMAIL} aria-label={"Send Me An Email at "+EMAIL}>
    <Icon name="social/email" class="w-8 h-auto" />
</a>
<a href={GITHUB} aria-label="My Github Account">
    <Icon name="social/github" class="w-8 h-auto" />
</a>
<a href={"https://wa.me/"+PHONE} aria-label="Connect Me on Whatsapp">
    <Icon name="social/phone" class="w-8 h-auto" />
</a>