---
import { Icon } from "@nodes/astro-icon/components"
---
<a href="mailto:info@iescapedvim.com">
    <Icon name="social/email" class="w-8 h-auto" />
</a>
<a href="https://github.com/iEscapedVim">
    <Icon name="social/github" class="w-8 h-auto" />
</a>
<a href="https://wa.me/+923117375069">
    <Icon name="social/phone" class="w-8 h-auto" />
</a>