---
import Layout from '@layouts/Layout.astro';
import RecentCard from '@comps/recentCard.astro';

import { getCollection } from 'astro:content';


export async function getStaticPaths({ paginate }: { paginate: (posts: any[], options: { pageSize: number }) => any }) {
    const allPosts = await getCollection("projects");
    return paginate(allPosts, { pageSize: 10 });
}

const { page }: any = Astro.props;
---

<Layout>
    <section class="flex flex-col w-[96%] h-fit pt-[120px] bg-base-100 mx-auto rounded-2xl p-12">
        <h2 class="font-outfit font-bold text-4xl md:text-5xl lg:text-6xl text-neutral mt-2">My <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Projects</span></h2>
        <p class="text-primary mt-2">This site is new, I am still adding projects to it. Plus I never kept a record of the projecs I worked.. why? idk</p>
        <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
            {page.data.sort((a: { data: { pubDate: string | number | Date; }; }, b: { data: { pubDate: string | number | Date; }; }) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).map((p: any) => <RecentCard post={p}/>)}
        </div>
    </section>
</Layout>