---
import Touch from "../touch.astro"
---
<section id="contact" class="col-span-12 md:ms-20">
    <div class="mx-auto max-w-screen-xl my-12">
        <h2 data-aos="fade-right" data-aos-duration="1100" class="font-outfit pb-8 font-bold text-4xl md:text-5xl lg:text-6xl text-neutral mt-2">Contact <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Me</span></h2>
      <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="border-2 border-primary rounded-lg bg-white/60 p-8 shadow-lg lg:col-span-3 lg:p-12 z-10 backdrop-blur-[2px]" data-aos="fade-up" data-aos-duration="800">
          <form action="https://formsubmit.co/58e9b23a679ff942fd5fde21859f896f" method="POST" class="space-y-4">
            <p class="font-bold text-primary">
              Fill This Form & I'll Get Back To You Asap
            </p>
            <div>
              <label class="sr-only" for="name">Name</label>
              <input required class="w-full rounded-lg border-secondary border-2 p-3 text-sm ring-0 hover:ring-0 outline-0 hover:outline-0 hover:shadow-lg focus:shadow-lg bg-white/80" placeholder="Name" type="text" name="name" />
            </div>
  
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="email">Email</label>
                <input required class="w-full rounded-lg border-secondary border-2 p-3 text-sm ring-0 hover:ring-0 outline-0 hover:outline-0 hover:shadow-lg focus:shadow-lg bg-white/80" placeholder="Email address" type="email" name="email" />
              </div>
  
              <div>
                <label class="sr-only" for="phone">Phone</label>
                <input required class="w-full rounded-lg border-secondary border-2 p-3 text-sm ring-0 hover:ring-0 outline-0 hover:outline-0 hover:shadow-lg focus:shadow-lg bg-white/80" placeholder="Phone Number" type="tel" name="phone" pattern="\+?[0-9\s()-]{7,15}" />
              </div>
            </div>
  
            <div>
              <label class="sr-only" for="message">Message</label>
              <textarea required class="w-full rounded-lg border-secondary border-2 p-3 text-sm ring-0 hover:ring-0 outline-0 hover:outline-0 hover:shadow-lg focus:shadow-lg bg-white/80" placeholder="Message" rows="8" name="message" ></textarea>
            </div>

            <input type="hidden" name="_next" value="https://iescapedvim.com/#contact">
  
            <div class="mt-4">
              <button type="submit" class="button">
                <div class="points_wrapper">
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                  <i class="point"></i>
                </div>
                <span class="inner">
                    Send Message
                </span>
              </button> 
            </div>
          </form>
        </div>
        <div class="border-2 border-primary rounded-lg bg-white/60 p-8 shadow-lg lg:col-span-2 lg:p-12 z-10 backdrop-blur-[2px]"  data-aos="fade-up" data-aos-duration="1000">
          <div class="flex flex-col gap-4">
            <h2 class="font-outfit font-bold text-2xl md:text-3xl lg:text-4xl text-neutral mt-2">Reach <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Out</span></h2>
            <p class="text-sm font-bold text-primary">
              You can also reach out to me directly on any of the following platforms
            </p>              
            <span class="text-primary flex flex-row">
              <Touch />
            </span>
            <div id="contact"></div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      if (window.location.hash === '#contact') {
        const contactDiv = document.getElementById('contact');
        if (contactDiv) {
          const alertDiv = document.createElement('div');
          alertDiv.setAttribute('role', 'alert');
          alertDiv.className = 'alert bg-secondary text-white font-medium mt-4';
          alertDiv.setAttribute('data-aos', 'fade-up');
          alertDiv.setAttribute('data-aos-duration', '1000');
          alertDiv.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>
              Message Received. I'll get back to you as soon as possible.
            </span>
          `;
          contactDiv.appendChild(alertDiv);
        }
      }
    });
  </script>