---
import { getTags } from '@/lib/wordpress';

const tags: { name: string; count: number }[] = await getTags();

// Sort tags by count
const sortedTags = tags.sort((a: { count: number; }, b: { count: number; }) => b.count - a.count);
---
<div class="flex flex-wrap gap-2">
  {sortedTags.map(({ name, count }) => (
    <a href={`/tags/${name.toLowerCase()}`} class="px-3 py-1 text-sm font-medium text-white bg-gradient-to-r from-primary to-secondary rounded-full hover:from-primary/90 hover:to-secondary/90 transition-all duration-300" >
      {name}
      <span class="ml-1 text-xs">({count})</span>
    </a>
  ))}
</div>