---
const { frontmatter } = Astro.props;
import Head from "@comps/head.astro"
import Header from "@comps/header.astro"
import Footer from "@comps/footer.astro"
import Mcan from '@comps/mcan.tsx';

import { Seo } from "astro-seo-meta"

console.log();
---
<!doctype html>
<html lang="en" class="overflow-x-hidden">
	<Head sitetitle={frontmatter.title}> 
		<Seo
			title={frontmatter.title}
			description={frontmatter.description}
			icon="/favicon.png"
			keywords={frontmatter.tags}
			colorScheme="light"
  			robots="index, follow"
			  facebook={{
				image: frontmatter.image.src,
				type: "article",
			  }}
			  twitter={{
				image: frontmatter.image.src,
				site: "@iEscapedVim",
				card: "summary",
			  }}
	  	/>
	</Head>
	<body class="bg-base-100">
		<Mcan client:load />
		<Header />
		    <section class="pt-24 grid grid-cols-1 md:grid-cols-8 px-6 gap-8">
                <slot />
            </section>
		<Footer />
	</body>
</html>
